.posts-container {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.link-btns {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.link-btns .link {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #be7ba3; /* Change this to your desired button background color */
  color: #fff; /* Change this to your desired button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.posts {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}
