.singlePost {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.singlePostWrapper {
  padding: 30px;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  /* newfont fam */
  margin: 10px;
  font-size: 28px;
}
.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
  /* font-size: 60px; */
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  /* new font Fam */
}

.singlePostDescription {
  font-size: 18px;
  color: #666;
  line-height: 25px;
}

.singlePostDescription::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  height: 400px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostCategories {
  margin-top: 20px;
  font-weight: bold;
  color: #666;
}
.actionButtons {
  display: flex;
  gap: 30px;
}
.singlePostButton {
  width: 100px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

.edit {
  background-color: teal;
  color: white;
}

.cancel {
  background-color: lightcoral;
  color: white;
}
